@{ 
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}


<div>
    <hr />
    <div class="row ">
        <div class="col-md-3 margin">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-8">
            @RenderBody()
        </div>
    </div>
</div>


