@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="stream">
            <iframe class="content" src="https://www.youtube.com/embed/yU0iuQ-LXD0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6">
        <div class="side">
            <iframe class="item" src="https://www.youtube.com/embed/cUgBkJ_ehO0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe class="item" src="https://www.youtube.com/embed/BUclfqYv5iY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe class="item" src="https://www.youtube.com/embed/nNJWIsuNC4E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe class="item" src="https://www.youtube.com/embed/el0j7MtDjAo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe class="item" src="https://www.youtube.com/embed/u0c03UCEX4g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe class="item" src="https://www.youtube.com/embed/aaLE5XZqo7s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>
